*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root,body{
  height: 100vh;
}
.App{
  display: grid;
  grid-template-areas: 
  "header" 
  "main"
  "footer"
  ;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}


main{
  grid-area: main;
}


.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .products-wrapper{
  width: 65%;
}

.wrapper .filter-wrapper{
  width: 30%;
}
